body{
  background: url('../img/forest2.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-align: center;
};

a{
  text-decoration: none;
  margin-left: 5px;
}

h1{
  font-size: 56px;
}
