/*
------------------------------------------------------------------------
GLOBAL STYLES///////////////////////////////////////////////////////////
------------------------------------------------------------------------
*/
body{
  background: url('../img/cave1.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-align: center;
  margin:
}


h1{
  font-size: 42px;
}

audio{
  display: none;
}

img{
  height: 100px;
  width: 80px;
}

footer{
  clear: both;
}
/*
------------------------------------------------------------------------
Index STYLES///////////////////////////////////////////////////////////
------------------------------------------------------------------------
*/
a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #830303;
}

.container{
  border: 2px solid #fff;
  width: 400px;
  height: 250px;
  margin: 30px auto;
  box-shadow: 0 0 .5em #fff;
}

section{
  margin: 40px;
}

button{
  border: 0;
}


input['type=text']{
  opacity: 0.7;
  border: 2px solid #fff;
  border-radius: 0;
}

input:focus{
  background:
}

footer{
  position: relative;
  top: 100px;

}

.link{
  float: left;
}

.music{
  float: right;
}

/*
------------------------------------------------------------------------
About STYLES///////////////////////////////////////////////////////////
------------------------------------------------------------------------
*/
p{
  line-height: 40px;
}


/*
------------------------------------------------------------------------
Game STYLES///////////////////////////////////////////////////////////
------------------------------------------------------------------------
*/

.game-board{
  width: 670px;
  height: 400px;
  border: 4px double #fff;
  position: relative;
  float: left;
}

.game-info{
  width: 200px;
	height: 400px;
  float: right;
	border: 2px double #fff;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
	text-align:center;

}

.jane{
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
}

.bad-guy{
  position: absolute;
  width: 55px;
  height: 55px;
}

.jason{
  position: absolute;
  width: 55px;
  height: 55px;
}
.dracula{
  position: absolute;
  width: 55px;
  height: 55px;
}

.game-btn{
  border: none;
  border-radius: 5px;
  background: #000;
  opacity: 0.7;
  color: #fff;
  padding: 10px;
  font-size: 14px;
}
